<google-map
  width="100%"
  height="100%"
  [options]="mapOptions"
>
  <map-marker #marker
              *ngFor="let markerOption of markerOptions; let i = index"
              [options]="markerOption"
              (mapClick)="openInfoWindow(i)">
    <map-info-window>
      <b><mat-icon class="marker-icon">fastfood</mat-icon>{{foodEvents[i].foodName}}</b>
      <p>{{foodEvents[i].foodDescription}}</p>
      <p><i>Available Until {{formatDate(foodEvents[i].availableUntil)}}</i></p>
      <hr>
      <b><mat-icon class="marker-icon">location_on</mat-icon>Location</b>
      <p>{{foodEvents[i].locationID.locationName}}
        <span *ngIf="foodEvents[i].roomNumber">| {{foodEvents[i].roomNumber}}</span>
      </p>
      <i *ngIf="foodEvents[i].locationID.address">{{foodEvents[i].locationID.address}}</i>
      <hr>
      <p>
        <b><mat-icon class="marker-icon">health_and_safety</mat-icon>Dietary Info: </b>
        <span *ngIf="foodEvents[i].restrictionID.glutenFree">Gluten Free | </span>
        <span *ngIf="foodEvents[i].restrictionID.vegan">Vegan | </span>
        <span *ngIf="foodEvents[i].restrictionID.vegetarian">Vegetarian | </span>
        <span *ngIf="foodEvents[i].restrictionID.noPeanut">Peanut Free | </span>
        <span *ngIf="foodEvents[i].restrictionID.lactoseFree">Dairy Free | </span>
        <span *ngIf="foodEvents[i].restrictionID.kosher">Kosher | </span>
        <span *ngIf="foodEvents[i].restrictionID.noEgg">Soy Free | </span>
        <span *ngIf="foodEvents[i].restrictionID.noEgg">Egg Free | </span>
      </p>
      <hr>
      <p>This event has been reported unavailable by <strong> {{foodEvents[i].report_count}}</strong> times.</p>
<!--      Creat button for report [1]-->
      <div class="example-button-container">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="increaseReportNew(foodEvents[i].eventID)">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
      <b> Click the button above to report this event isn't available anymore! </b>
    </map-info-window>
  </map-marker>
</google-map>

<!--Uncomment the following line and comment the real one to save API calls -->
<!--<app-fake-food-map></app-fake-food-map>-->

/******** References/Citations ********
[1] https://material.angular.io/components/button/overview
should we include citation for popup window? just realized I might have wrote the wrong website in our Google document. Maybe the github one if we want to cite?
*/
