#foodSearch {
  width: 500px;
}
#food-search-label {
  margin-left: 35px;
}

#food-search-icon {
 margin-right: 10px;
}

#location-search-icon {
  margin-left: 25px;
  margin-right: 10px;
}

#search-button {
  margin-left: 25px;
}

#filter-button {
  margin-left: 25px;
}
